body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
* {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  margin: 0;
  font-size: var(--fs-600);
}

header {
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  margin-top: 0px;
  background-color: #ef1010;
}

.app-title {
  font-size: 33px;
}

main {
  padding: 15vw;
  margin: 0px;
  text-align: center;
}

footer {
  text-align: center;
  position: fixed;
  width: 100vw;
  z-index: 1;
  background-color: #ef1010;
  height: 9%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  display: grid;
}

nav {
  text-align: center;
  position: fixed;
  width: 100vw;
  z-index: 1;
  background-color: #ef1010;
}

.fixed-footer nav {
display: flex;
justify-content: space-evenly;
}

.fixed-footer img {
display: flex;
width: 13vw;
height: 13vw;
}

.hidden {
  display: none;
}