/* Profile Page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    
  * Positioning styles */
    position: relative;
    top: 20px; /* Adjust the value as per your needs */
    float: left; /* Aligns the profile picture to the left */
    clear: left;
}

.alternate-text {
  font-size: 16px;
  color: gray;
  object-position: 20vw;
  margin-left: 0vw;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.section-content {
  margin-top: 10px;
}

.counter-widget {
  display: inline-block;
  margin-right: 20px;
}

.settings {
  margin-top: 30px;
}


.dark-mode {
  margin-top: 30px;
}

body
.dark-mode {
  background-color: #1f1f1f;
  color: #fff;
}

.dark-mode .profile-page {
  background-color: #111;
}

.dark-mode .profile-page {
  border: 1px solid #fff;
}

.dark-mode .section-title {
  color: #fff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}