body {
  margin: 5vw;
  padding: 1vw;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
}

.app-title {
  font-size: 38px;
}

main {
  padding: 15vw;
  margin: 5px;
  text-align: center;
}

.show-answer-button {
  padding: 1vw;
}

.buttons {
  text-align: left;
}

.question-card1 {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 55px;
  position: relative;
}

.question-card2 {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 20px;
  margin: 0%;
  position: relative;
}

.questions__bookmark{
  position: absolute;
  top: -12px;
  right: 10px;
  width: 30px;
}

.question {
  font-size: 22px;
}

.show-answer-button {
  margin-top: 10px;
}

.answer {
  display: none;
  margin-top: 10px;
}

.buttons {
  margin-top: 20px;
}

.grey-button {
  background-color: rgb(92, 89, 89);
  color: #020202;
  padding: 5px 5px;
  margin-right: 0px;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f1f1f1;
  padding: 30px;
  display: grid;
}

.fixed-footer nav {
  display: flex;
  justify-content: space-evenly;
}

.fixed-footer img {
  display: flex;
  width: 13vw;
  height: 13vw;
}

/* Profile Page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.alternate-text {
  font-size: 16px;
  color: gray;
  object-position: 20vw;
  margin-left: 0vw;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.section-content {
  margin-top: 10px;
}

.counter-widget {
  display: inline-block;
  margin-right: 20px;
}

.settings {
  margin-top: 30px;
}

.dark-mode {
  margin-top: 30px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
